@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-courier);

  --color-day-bg: #ffffff;
  --color-day-fg: #000000;
  --color-night-bg: #000000;
  --color-night-fg: #39ff14; /* Neon Green */

  --shadow-hard: 4px 4px 0px 0px currentColor;
}

body {
  font-family: var(--font-sans);
}
